/*=======reset css========*/
*,
*::before,
*::after{
    /*所有的标签，和伪元素都选中*/
    margin: 0;
    padding: 0;
    /*移动端常用布局是非固定像素*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*点击高亮效果的清除*/
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    color: #333;
    overflow-x: hidden;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
input,textarea{
    border: none;
    outline: none;
    /*不允许改变尺寸*/
    resize: none;
    /*元素的外观  none没有任何样式*/
    -webkit-appearance: none;
}
.clearfix{ clear:both;}
.clearfix:after{clear:both;display:block;visibility:hidden;font-size:0;content:" ";height:0;}
.clearfix {*zoom:1;}
/*=======common css========*/
body{
    background: #fff;
}
/*版心*/
.container{
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
.header-nav {
    line-height: 44px;
    height: 44px;
    color: #fff;
    background-color: #067eee;
    font-size: 16px;
}
.header-nav>.mui-title {
    font-size: 18px;
}
.header-nav>a, .header-nav>.mui-title {
    color: #fff;
}