.container .background-image{
    width: 315px;
    height:260px;
    background: url("../image/logo.jpg") no-repeat center;
    background-size: 100% 100%;
}
.title{
    height:42px;
    line-height:42px;
    text-align: center;
    color:#067eee;
    font-size:22px;
    font-weight: bold;
    letter-spacing:2px;
}
.form{
    padding:0 22px;
    width:100%;
    height:200px;
    margin-top:50px;
}
.user_name_psword{
    height:41px;
    position: relative;
    border-bottom:1px solid #e2e2e2;
}
.user_name_psword span{
    width: 25px;
    height: 25px;
    position: absolute;
}
.user_name_psword span.name,.user_name_psword span.psword{
    top: 10px;
    left: 10px;
}
.user_name_psword span.delete,.user_name_psword span.show{
    top: 10px;
    right: 10px;
}
 .name{
    background: url("../image/name.png") no-repeat;
    background-size: 20px 20px;
}
.delete{
    background: url("../image/delete.png") no-repeat;
    background-size: 20px 20px;
}
.pwd_show{
    background: url("../image/pwd_show.png") no-repeat;
    background-size: 25px 25px;
    top: 10px;
    right: 15px;
}
.pwd_hide{
    background: url("../image/pwd_hide.png") no-repeat;
    background-size: 25px 25px;
    top: 10px;
    right: 15px;
}
.user_name_psword .psword{
    background: url("../image/psword.png") no-repeat;
    background-size: 20px 20px;
}
.user_name_psword input{
    width:100%;
    height:40px;
    line-height:40px;
    padding-left:50px;
    font-size: 15px;
}
.submit{
    width:100%;
    height:45px;
    line-height:45px;
    text-align: center;
    margin-top:25px;
    background-color: #067eee;
    color:#fff;
    font-size:22px;
    border-radius: 4px;
    letter-spacing:4px;
}
.bottom{
    position: relative;
    width:100%;
    height:50px;
    color:#067eee;
}
.bottom > div{
    position: absolute;
    width:50%;
    height:50px;
    line-height: 50px;
}
.bottom  .remember{
    top:0;
    left:0;
    text-align: left;
    padding-right:10px;
}
.bottom  .set{
    top:0;
    right:0;
    text-align: right;
    padding-left:10px;
}
input[type="checkbox"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #cccccc;
    text-indent: .15em;
    line-height: 1;
}
input[type="checkbox"]:checked + label::before {
    background-color: #067eee;
    background-clip: content-box;
    padding: .2em;
}
input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
